<app-navbar></app-navbar>

<div class="page" style="position:fixed; left:0; right:0; bottom: 0; top: 60px; overflow: auto">

  <app-portfolio-overview [ptf]="api.portfolio" [model]="api.model" [date]="api.date" [asOfDate]="api.asOfDate" [lookback]="api.lookback"></app-portfolio-overview>

  <!--<mat-grid-list cols="12" [rowHeight]="'3:2'">
    <mat-grid-tile [colspan]="9" [rowspan]="8">

    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="8">
      <app-market-overview [date]="api.date"></app-market-overview>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="3">
      <app-model-overview  [factorData]="api.data.factors"></app-model-overview>
    </mat-grid-tile>

  </mat-grid-list>-->

</div>


<!--<router-outlet></router-outlet>-->
