<div class="site-menubar site-menubar-light">
  <div class="site-menubar-body">
    <div>
      <div>
        <ul class="site-menu" data-plugin="menu">
          <li class="site-menu-category">Data</li>
          <li class="dropdown site-menu-item has-sub">
            <a data-toggle="dropdown" routerLink="/market-overview" routerLinkActive="active" data-dropdown-toggle="false">
              <i class="site-menu-icon wb-graph-up" aria-hidden="true"></i>
              <span class="site-menu-title">Market Overview</span>
            </a>
          </li>
          <li class="dropdown site-menu-item has-sub">
            <a data-toggle="dropdown" href="javascript:void(0)" data-dropdown-toggle="false">
              <i class="site-menu-icon wb-plugin" aria-hidden="true"></i>
              <span class="site-menu-title">Model Overview</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
